.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: aqua;
}

img {
    box-shadow: 0 6px 8px 0 rgb(102, 99, 99);
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 7px;
}

img:hover{
    border-radius: 140px;
}

body{
    background-color:turquoise;
}

h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
font-weight: 200;
}

#camera{
    width: 500px;
    height: 400px;
}